{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>Results Page - Simple Word Counter</title>
  </head>
  <body>
    <h1>Great Job!!!</h1>

    <h3>
      You typed in
      <span style="color: #73e9e9; font-size: 2em">{{number_of_words}}</span>
      words.
    </h3>
  </body>
</html>
