{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>Results Page - Simple Word Counter</title>
  </head>
  <body>
    {% if user.is_authenticated %}
    <h2 class="heading">Great job, {{user.username}}!!!</h2>
    {% else %}
    <h2 class="heading">Great job, friend</h2>
    {% endif %}

    <h3 class="description">
      You typed in
      <span>{{number_of_words}}</span>
      words.
    </h3>

    <div class="input-option">
      <a href="/">
        <input class="submit-btn" type="submit" value="Back Home" />
      </a>
    </div>
  </body>
</html>
