<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
      body {
        background-color: #444;
        color: #fff;
        padding: 0 2rem;
      }
    </style>

    <script defer>
      alert("Welcome {{name}}");
    </script>

    <title>Django Tutorial</title>
  </head>

  <body>
    <h1>Hello, {{name}} of {{nationality}}...</h1>

    <h3>Here's me learning Django.</h3>

    <p>Wish me well!</p>
  </body>
</html>
