{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>Login Page</title>
  </head>
  <body>
    <h1 class="heading">Sign In</h1>

    {% for message in messages %}
    <p class="error-message">{{message}}</p>
    {% endfor %}

    <form class="user-form" action="login" method="post">
      {% csrf_token %}
      <div class="input-option">
        <label for="username">Username</label>
        <input class="form-input" type="username" name="username" />
      </div>
      <div class="input-option">
        <label for="password">Password</label>
        <input class="form-input" type="password" name="password" />
      </div>
      <div class="input-option">
        <input class="submit-btn form-btn" type="submit" value="Sign In" />
      </div>
    </form>
  </body>
</html>
