<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Word Counter</title>
  </head>

  <body style="background-color: #444; color: #fff; text-align: center">
    <h2>Hello friend</h2>
    <p>
      Enter some words in the input field below and we'll tell you how many
      words are in there.
    </p>
    <p>Go ahead and give this a try.</p>

    <form method="POST" action="counter">
      {% csrf_token %}
      <textarea
        name="words"
        id="words"
        cols="50"
        rows="10"
        style="display: block; margin: 0 auto"
      ></textarea>
      <input
        type="submit"
        value="Count"
        style="padding: 0.5rem 1rem; margin: 0.7rem 0"
      />
    </form>
  </body>
</html>
