{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>Simple Word Counter</title>
  </head>

  <body>
    <h2 class="heading">Hello friend</h2>
    <p class="description">
      Enter some words in the input field below and we'll tell you how many
      words are in there.
    </p>
    <p class="description">Go ahead and give this a try.</p>

    <form method="POST" action="counter">
      {% csrf_token %}
      <textarea name="words" id="words" cols="50" rows="10"></textarea>
      <input type="submit" value="Count" class="submit-btn" />
    </form>

    <section class="card-section">
      <h2 class="heading">Features</h2>
      <div class="card-body">
        {% for feature in features %}

        <div class="each-card" id="{{feature.id}}">
          <h4 class="card-title">{{feature.title}}</h4>
          <p class="description">{{feature.description}}</p>
        </div>

        {% endfor %}
      </div>
    </section>
  </body>
</html>
